@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro.otf') format('opentype'),
}

body {
  font-family: $font-family-sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
.hidden-lg {
  @media(min-width: 769px) and (max-width: 1024px) {
    display: none;
  }
}
.icon-blue {
  color: #27a3bf;
  &:hover {
    color: #064b99;
  }
}
.icon-red {
  color: #ef301d;
}
.icon-menu {
  color: #064b99;
  &:hover {
    color: #fff;
  }
}
.m-icon {
  margin-right: 10px;

  @media(min-width: 769px) and (max-width: 1024px) {
    margin-right: 0;
  }
}
.mt-30 {
  margin-top: 30px !important;
}
.header-outline.button-active {
  background-color: #064b99;
  color: #fff;
  padding: 17px 30px 15px 30px;
  border: 0;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #064b99;
  }
}
.header-outline {
  background-color: #fff;
  font-family: $font-family-sans-serif;
  font-size: remy(15px);
  font-weight: 400;
  line-height: remy(18px);
  color: #333;
  border-radius: 25px;
  border: 1px solid #064b99;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 16px 30px 14px 30px;

  &:hover {
    text-decoration: none;
    color: #333;
  }
}
.border-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #e6e7e9;
  border-radius: 50%;
  background-color: #fff;
  color: #064b99;
  &:hover {
    color: #fff;
    background-color: #064b99;
  }
}
.button-full {
  background-color: #064b99;
  font-family: $font-family-sans-serif;
  font-size: remy(14px);
  font-weight: 400;
  line-height: remy(18px);
  color: #fff;
  border-radius: 25px;
  border: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 16px 20px 15px 20px;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #27a3bf;
  }
  &:focus {
    outline: none;
  }
}

