@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro.otf') format('opentype'),
}

body {
  font-family: $font-family-sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
.icon-blue {
  color: #27a3bf;
}
.icon-red {
  color: #ef301d;
}
.icon-menu {
  color: #064b99;
}
.m-icon {
  margin-right: 10px;
}
.mt-30 {
  margin-top: 30px !important;
}
.header-bottom__button {
  background-color: #064b99;
  font-family: $font-family-sans-serif;
  font-size: remy(15px);
  font-weight: 400;
  line-height: remy(18px);
  color: #fff;
  border-radius: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 17px 30px 15px 30px;
}
.header-bottom__button-outline {
  background-color: #fff;
  font-family: $font-family-sans-serif;
  font-size: remy(15px);
  font-weight: 400;
  line-height: remy(18px);
  color: #333;
  border-radius: 25px;
  border: 1px solid #064b99;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 16px 30px 14px 30px;
}
.border-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #e6e7e9;
  border-radius: 50%;
  background-color: #fff;
  color: #064b99;
}

