.header-top {
  background-color: #ecf1f5;
  padding-top: 15px;
  padding-bottom: 20px;
}
.header-top__menu {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;

  @media(max-width: 768px) {
    align-items: start;
  }
}
.header-top__button {
  background-color: #064b99;
  font-family: $font-family-sans-serif;
  font-size: remy(14px);
  font-weight: 400;
  line-height: remy(18px);
  color: #fff;
  border-radius: 25px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 16px 20px 15px 20px;

  @media(max-width: 768px) {
    background-color: #ecf1f5;
    color: #27a3bf;
    padding: 0;
  }
}
.header-top__link {
  color: #222;
  font-size: remy(14px);
  font-weight: 400;
}
.phone {
  display: flex;
  align-items: center;
  color: #222;
  font-size: remy(14px);
}
.phone__text {
  margin-bottom: 0;
}
.bold {
  font-weight: 600;
  font-size: 16px;
}
.header-top__cart-text {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
  line-height: 18px;
}
.header-top__cart-cost {
  color: #333;
  font-size: remy(15px);
  line-height: 18px;
  font-weight: 600;
}
.cart-content {
  margin-left: 12px;
}
.swiper-container {
  height: 160px;
  margin-top: 40px;
  overflow: hidden;
}
.header-bottom {
  margin-bottom: 60px;
}
.swiper-button-next {
  position: absolute;
  right: 0;
  top: 50%;
}
.swiper-button-prev {
  position: absolute;
  margin-left: -15px;
  top: 50%;
}
.input-group {
  border: 1px solid #e6e7e9;
  border-radius: 7px;
  background-color: #fff;
}
.btn.button-search {
   background-color: #ecf1f5;
   color: #222;
   font-size: remy(13px);
   font-weight: 400;
   padding: 20px 30px 18px 30px;
   line-height: remy(18px);
}
.header-bottom__icon {
  margin-right: 19px;
  margin-left: 4px;
}
.form-control.header-bottom__options-form {
  border: none;
  padding-left: 30px;
  border-radius: 7px;

  @media(max-width: 576px) {
    padding-left: 5px;
    font-size: remy(12px);
  }
}
.header-menu__icon {
  margin-right: 9px;
}
.nav-menu {
  width: 100%;
  padding-left: 0;
}
.nav-link {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
  line-height: 18px;
}
.header-nav-item {
  border-right: 1px solid #d3d6dc;
  padding-right: 20px;
}
.header-nav-link {
  font-size: remy(16px);
  font-weight: 700;
}
.dropdown-toggle {
  &:after {
    display: none !important;
  }
}

