.container-top {
  max-width: 1255px;
  margin: 0 auto;
}
.header-top {
  background-color: #ecf1f5;
  padding-top: 15px;
  padding-bottom: 20px;
}
.header-top__menu {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;

  @media(max-width: 768px) {
    align-items: start;
  }
}
.header-top__button {
  background-color: #064b99;
  font-family: $font-family-sans-serif;
  font-size: remy(14px);
  font-weight: 400;
  line-height: remy(18px);
  color: #fff;
  border-radius: 25px;
  border: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 16px 20px 15px 20px;

  @media(max-width: 768px) {
    background-color: #ecf1f5;
    color: #27a3bf;
    padding: 0;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #27a3bf;
  }
  &:focus {
    outline: none;
  }
}
.header-top__item {
  @media(max-width: 768px) {
 /*  background-color: #064b99;*/
    border: 1px solid #064b99;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  &:focus,
  &:active {
    outline: none;
  }
}
.header-top__link {
  color: #222;
  font-size: remy(14px);
  font-weight: 400;

  &:hover,
  &:focus,
  &:active {
    color: #222;
    text-decoration: none;
    font-weight: 700;
  }
}
.phone {
  display: flex;
  align-items: center;
  color: #222;
  font-size: remy(14px);
}
.phone__text {
  margin-bottom: 0;
}
.bold {
  font-weight: 600;
  font-size: 16px;
}
.header-top__cart {
  &:hover {
    color: #333;
    font-weight: 700;
    text-decoration: none;
  }
}
.header-top__text {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
  line-height: 18px;
  &:hover {
    color: #333;
    font-weight: 700;
    text-decoration: none;
  }
}
.header-top__cart-cost {
  color: #333;
  font-size: remy(15px);
  line-height: 18px;
  font-weight: 600;
  &:hover {
    color: #333;
    font-weight: 700;
    text-decoration: none;
  }
}
.cart-content {
  margin-left: 12px;
}
.swiper-container {
  height: 160px;
  margin-top: 40px;
  overflow: hidden;
  cursor: pointer;
}
.header-bottom {
  margin-bottom: 60px;
}
.swiper-button-next {
  position: absolute;
  right: 0;
  top: 50%;
}
.swiper-button-prev {
  position: absolute;
  margin-left: -15px;
  top: 50%;
}
.input-group {
  border: 1px solid #e6e7e9;
  border-radius: 7px;
  background-color: #fff;
}
.header-bottom__options-btn {
  background-color: #fff;
  border: 0;
  &:focus,
  &:active {
    outline: none;
  }
}
.header-bottom__options-link {
   background-color: #ecf1f5;
   color: #222;
   font-size: remy(13px);
   font-weight: 400;
   padding: 20px 30px 18px 30px;
   line-height: remy(18px);
   text-decoration: none;
   &:focus,
   &:active,
   &:hover {
    outline: none;
    text-decoration: none;
    color: #fff;
    background-color: #064b99;
   }
}
.header-bottom__icon {
  margin-right: 19px;
  margin-left: 4px;
}
.form-control.header-bottom__options-form {
  border: none;
  padding-left: 30px;
  border-radius: 7px;

  @media(max-width: 576px) {
    padding-left: 5px;
    font-size: remy(12px);
  }
}
.header-menu__icon {
  margin-right: 9px;
}
.nav-menu {
  width: 100%;
  padding-left: 0;
}
.nav-link {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
  line-height: 18px;
  &:hover {
    color: #333;
    font-weight: 700;
  }
}
.header-nav-item {
  border-right: 1px solid #d3d6dc;
  padding-right: 20px;
}
.header-nav-link {
  font-size: remy(16px);
  font-weight: 700;
  &:hover {
    background-color: #064b99;
    color: #fff;
  }
}
.header-nav-link.icon-menu {
  &:before {
    &:hover {
      background-color: #064b99;
      color: #fff;
    }
  }
}
.dropdown-menu {
  padding-bottom: 0 !important;
}
.dropdown-toggle {
  &:after {
    display: none !important;
  }
}
.header-navigation {
  padding-top: 25px;
  padding-bottom: 22px;
  border-top: 1px solid #e6e7e9;
}
.header-navigation-catalog__list {
  display: flex;
  align-items: center;
  width: 278px;
  height: 53px;
  border-bottom: 1px solid #ebf0f4;
  &:hover {
    background-color: #fff;
  }
}
.header-navigation-catalog__item {
  color: #222;
  font-size: remy(16px);
  font-weight: 400;
  line-height: 18px;
  &:hover {
    color: #222;
    font-weight: 700;
    background-color: #fff;
  }
}
.header-navigation-catalog__item.header-nav-active {
  background-color: #ebf0f4;
  height: 100%;
  display: flex;
  align-items: center;
}

