.map-offers {
  margin-bottom: 25px;
}
.offer-header {
  background-color: #fff;
  padding-top: 19px;
  padding-bottom: 15px;
}
.offer-title {
  color: #333;
  font-size: remy(14px);
  font-weight: 700;
  line-height: remy(18px);
}
.block-bg {
  background-color: #f8fdfe;
}
.offer-body {
  height: 147px;
}
.offer-list {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.offer-item {
  margin-top: 11px;
  margin-bottom: 11px;
}
.offer-link {
  color: #696969;
  font-size: remy(16px);
  font-weight: 400;
  line-height: remy(18px);
  &:hover {
    color: #696969;
  }
}
.store-link {
  font-size: remy(14px);
}
.offer-amount {
  padding-top: 16px;
  padding-bottom: 15px;
}
.protect {
  margin-top: 25px;
}
.offer-green {
  color: #00cc99;
}
.offer-red {
  color: #ff1717;
}
.anyClass {
  height:140px;
  overflow-y: scroll;
}

