.popular {
  background: url(../img/bg-popular.png) center center/cover no-repeat;
  padding-top: 50px;
  padding-bottom: 60px;
}
.popular-icon {
  margin-left: 10px;
}
.popular-content {
  height: 437px;
  width: 263px;
  margin-top: 30px;
  box-shadow: 5px 9px 20px rgba(5, 22, 65, 0.1);
  &:hover,
  &:focus,
  &:active {
    box-shadow: 5px 9px 20px rgba(5, 22, 65, 0.3);
  }
}
.card-header {
  margin-top: 40px;
  padding-top: 0;
  position: relative;
  top: 0;
}
.popular-content__sale {
  position: absolute;
  top: -10px;
  right: 20px;
  background-color: #e73237;
  height: 25px;
  color: #ecf1f5;
  font-size: remy(13px);
  font-weight: 400;
  line-height: remy(18px);
  border-radius: 3px;
  padding: 4px 15px 3px 15px;
  z-index: 10;
}
.sale-popular {
  background-color: #27a3bf;
}
.popular-content__img img {
  &:hover {
    transform: scale(1.05);
  }
}
.card-category {
  color: #999;
  font-size: remy(13px);
  font-weight: 400;
  line-height: remy(18px);
  &:hover {
    color: #999;
    font-weight: 700;
    text-decoration: none;
  }
}
.card-title {
  color: #222;
  font-size: remy(16px);
  font-weight: 700;
  line-height: remy(18px);
  &:hover {
    color: #222;
    text-decoration: none;
    transform: scale(1.05);
  }
}
.card-text {
  color: #333;
  font-size: remy(20px);
  font-weight: 700;
  line-height: remy(18px);
  margin-bottom: 4px;
}
.card-price {
  font-size: remy(24px);
  font-weight: 700;
}
.card-old-price {
  color: #666;
  font-size: remy(16px);
  font-weight: 400;
  text-decoration: line-through;
}
.view-more {
  box-shadow: 0 0 25px rgba(16, 25, 32, 0.1);
  border-radius: 3px;
  background-color: #fff;
  color: #222;
  font-size: remy(15px);
  font-weight: 400;
  padding: 18px 40px 15px 40px;
  margin-top: 30px;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #fff;
    background-color: #064b99;
  }
}

