.breadcrumb-link {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
  &:hover {
    color: #27a3bf;
  }
}
.product-slider {
  height: 305px;
//  width: 478px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}
.swiper-container__product {
  height: 100%;
  width: 100%;
  margin-top: 0;
}
.swiper-wrapper,
.swiper-slide {
  width: 100%;
}
.swiper-slide.swiper-slide__product {
  background-position: center;
  background-size: cover;
  width: 286px;
  height: 286px;
  text-align: center;
}
.swiper-product-next {
  position: absolute;
  right: 0;
}
.swiper-product-prev {
  position: absolute;
  margin-left: -15px;
}
.product-about,
.product-descriptions {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
}
.title-descriptions {
  color: #696969;
  font-size: remy(18px);
  font-weight: 700;
}
.text-descriptions {
  color: #696969;
  font-size: remy(14px);
  font-weight: 400;
}

