.breadcrumb-link {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
  &:hover {
    color: #27a3bf;
  }
}
.product-slider {
  height: 305px;
//  width: 478px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}
.swiper-container__product {
  height: 100%;
  width: 100%;
  margin-top: 0;
}
.swiper-wrapper,
.swiper-slide {
  width: 100%;
}
.swiper-slide.swiper-slide__product {
  background-position: center;
  background-size: cover;
  width: 286px;
  height: 286px;
  text-align: center;
}
.swiper-product-next {
  position: absolute;
  right: 0;
}
.swiper-product-prev {
  position: absolute;
  margin-left: -15px;
}
.product-card {
  background-color: #f8fdfe;
  margin-bottom: 24px;
}
.product-card__header {
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 16px;
}
.product-card__body {
  padding: 15px 20px 21px 16px;
}
.product-card__footer {
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 5px 9px 20px rgba(5, 22, 65, 0.3);
 //   transform: scale(1.05);
  }
}
.product-card__buttons {
  display: flex;
  justify-content: space-around;
}
.product-about,
.product-descriptions {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
}
.title-descriptions {
  color: #696969;
  font-size: remy(18px);
  font-weight: 700;
}
.text-descriptions {
  color: #696969;
  font-size: remy(14px);
  font-weight: 400;
  background-color: #f8fdfe;
}
.product-card__link {
  font-size: remy(15px);
  font-weight: 400;
  color: #222;
  &:hover {
    color: #222;
    text-decoration: none;
  }
}
.card__buttons {
  background-color: #fff;
  font-family: $font-family-sans-serif;
  font-size: remy(15px);
  font-weight: 400;
  line-height: remy(18px);
  color: #333;
  border-radius: 25px;
  border: 1px solid #064b99;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 12px 19px 10px 14px;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: #064b99;
  }
}
.card-lg__buttons {
  padding: 12px 50px 10px 53px;
}
.seller-text {
  color: #252525;
  font-size: remy(12px);
  font-weight: 400;
  line-height: remy(18px);
}
.seller-link {
  color: #27a3bf;
  text-decoration: underline;
  &:hover {
    color: #27a3bf;
    text-decoration: none;
  }
}
.seller-avatar img {
  width: 77px;
  height: 77px;
}
.seller-more {
  padding-bottom: 24px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 17px;
}
.card-bordered {
  border-top: 1px solid #ececec;
  padding-top: 12px;
}
.specific-link.about-link {
  font-weight: 700;
}
.border-top {
  margin-top: 12px;
}
.protect {
  font-size: remy(14px);
  font-weight: 400;
  line-height: remy(18px);
}
.protect-link {
  color: #ff0000;
}
.protect-content {
  margin-top: 20px;
  margin-bottom: 18px;
}


/**/

.swiper-small-gallery {
  height: 100px;
  width: 400px;
}
