.breadcrumb-link {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
  &:hover {
    color: #27a3bf;
  }
}
.product-slider {
  height: 305px;
  width: 478px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}
.swiper-container__product {
  height: 100%;
  margin-top: 0;
}
.swiper-wrapper,
.swiper-slide {
  width: 100%;
}
.swiper-product-next {
  position: absolute;
  right: 0;
  top: 50%;
}
.swiper-product-prev {
  position: absolute;
  margin-left: -15px;
  top: 50%;
}

