.specific-header {
  color: #252525;
  font-size: remy(20px);
  font-weight: 700;
  margin-bottom: 14px;
}
.specific-text {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
}
.specific-text__bold {
  font-weight: 700;
}
.specific-rate {
  margin-bottom: 15px;
}
.specific-price__number {
  color: #252525;
  font-size: remy(24px);
  font-weight: 700;
}
.specific-price {
  margin-bottom: 14px;
}
.specific-img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
.specific-link {
  color: #27a3bf;
}
.specific-article {
  margin-top: 22px;
  margin-bottom: 25px;
}
.specific-delivery {
  margin-top: 17px;
}
