.specific-header {
  color: #252525;
  font-size: remy(20px);
  font-weight: 700;
  margin-bottom: 14px;
}
.specific-text {
  color: #333;
  font-size: remy(14px);
  font-weight: 400;
}
.specific-text__bold {
  font-weight: 700;
}
.specific-rate {
  margin-bottom: 15px;
}
.rate-list {
  display: inline-flex;
  margin-right: 10px;
}
.star-full {
  background: url(../img/fullstar.png) 100% 100% no-repeat;
  height: 16px;
  width: 16px;
  margin-right: 3px;
}
.specific-price__number {
  color: #252525;
  font-size: remy(24px);
  font-weight: 700;
}
.specific-price {
  margin-bottom: 14px;
}
.specific-img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
.specific-link {
  color: #27a3bf;
  text-decoration: underline;
  font-size: remy(14px);
  font-weight: 400;
  &:hover {
    color: #27a3bf;
    text-decoration: none;
  }
}
.specific-input {
  width: 48px;
  height: 29px;
  border: 1px solid #e6e7e9;
  margin-left: -4px;
  margin-right: -4px;
}
.form-inline.specific-plus {
  display: inline-flex;
}
.plus {
  width: 24px;
  height: 29px;
  border: 1px solid #e6e7e9;
  background-color: #27a3bf;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.specific-number {
  margin-left: 24px;
}
.specific-article {
  margin-top: 22px;
  margin-bottom: 25px;
}
.specific-delivery {
  margin-top: 17px;
}
