.product-tabs {
  margin-top: 20px;
  color: #333333;
  font-size: remy(14px);
  font-weight: 400;
  line-height: remy(18px);
}
.map-offers {
  margin-top: 11px;
}
.tabs-title {
  color: #929292;
  font-size: remy(18px);
  font-weight: 700;
  line-height: remy(18px);
  padding-top: 21px;
  padding-bottom: 15px;
  width: 245px;
  margin: 0 auto;
}
.product-tab__pane,
.product-tab__content {
  background-color: #f8fdfe;
}
.product-tabs__item {
  width: 33.33%;
}
.product-tabs__link {
  height: 47px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.nav-link.tabs-link.product-tabs__link.active {
  background-color: #f8fdfe;
}
.review-item {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding-top: 17px;
  font-size: remy(14px);
  font-weight: 400;
  line-height: remy(18px);
  padding-bottom: 15px;
}
.review-user-avatar {
  margin-right: 17px;
  margin-bottom: 11px;
}
.review-product {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #a8a8a8;
  display: flex;
  justify-content: space-between;
}
.bg-white {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: #fff;
}
.tabs-filter__bottom {
  padding-top: 15px;
  paddin-bottom: 15px;
}
